@page "/admin/edit-role/{roleid}"
@model App.Admin.Role.EditModel
@{
    ViewData["Title"] = "Cập nhật role";
}
<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

<hr>
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger "></div>
            <div class="form-group mb-4 ">
                <label asp-for="Input.Name" class="control-label mb-2"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                <a class="btn btn-primary" asp-page="./Index">Danh sách role</a>
            </div>
        </form>      
        
        @if(Model.Claims.Count > 0){
            <ul>
                @foreach (var claim in Model.Claims)
                {
                    <a style="text-decoration: none;" asp-asp-page="./EditRoleClaim" asp-route-claimid="@claim.Id">
                        <li style="list-style: none; text-decoration: none">@claim.ClaimType : @claim.ClaimValue</li>
                    </a>
                    
                }
            </ul>
        }
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}