@page "/product/{id:int?}"
@model ProductPageModel
@{
    var product = Model.product;
    var products = Model.productService.AllProuct();
}

<h1>@ViewData["Title"]</h1>

@if(product != null){
    <h2>@product.Name</h2>
    <p>Mo ta: @product.Description</p>
    <p>Gia: @product.Price</p>

    <p>
        <a asp-page="ProductPage" asp-route-id="">Danh sach cac san pham</a>
    </p>
}
else{
    <ul>
        @foreach (var p in products)
        {
            <li>
                <a asp-page="ProductPage" asp-route-id="@p.Id">
                    @p.Name
                </a>
            </li>
        }
    </ul>
    <hr>
    <p>
        <a class="btn btn-primary" asp-page="ProductPage" asp-page-handler="lastproduct">
            San pham cuoi
        </a>
    </p>
}